/***
**** 3.0 Listas
***/

.dd-inline-list {
  font-size: 0;

  & > * {
    display: inline-block;
  }
}

.dd-vtop {
  vertical-align: top;
}

.dd-vmiddle {
  vertical-align: middle;
}

.dd-vbottom {
  vertical-align: bottom;
}

.dd-block-list > * {
  display: block;
}