/***
**** 4.0 Espaçamentos
***/

.dd-margin-vertical {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dd-margin-bottom {
  margin-bottom: 10px;
}

.dd-margin-top {
  margin-top: 10px;
}

.dd-padding-vertical {
  padding-top: 10px;
  padding-bottom: 10px;
}

.dd-padding-top {
  padding-top: 10px;
}

.dd-padding-bottom {
  padding-bottom: 10px;
}